.cuerpo {

    background-color: #1a1a1a;
    color: #ffffff;
    width: 98vw;
}

a {
    color: red;
}

/*header*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.header-sec-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header-logo {
    width: 16px;
    height: 16px;
    background: white;
}

.header-name {
    width: max-content;
    margin: 0px;
}

ul {
    list-style: none;
}

.ul-nav-sec-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: max-content;
    height: 19px;
}

/*main*/

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.main-sec-presentacion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.main-sec-presentacion-links {
    display: flex;
    gap: 10px;
}

.img-presen {
    width: 210px;
    height: 210px;
    clip-path: circle(50% at 50% 50%);
}

.main-sec-Sobre-mi {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.main-sec-Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-Skills {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.div-div-Skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;
    width: 70px;
    height: 70px;
    background: #ffffff2c;
}

.ul-Skills {
    padding: 0px;
    margin: 0px;
}

.main-sec-Proyec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.div-proyectos {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.div-proyec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.img-proyec {
    width: 752px;
    height: 406px;
}

.ul-tec-uti-proyec {
    display: flex;
}

.link-repo {
    box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}

.link-demo {
    box-shadow:inset 0px 1px 0px 0px #fbfcfa;
	background:linear-gradient(to bottom, #dedfdd 5%, #b4b4b3 100%);
	background-color:#d4d4d4;
	border-radius:6px;
	border:1px solid #8b8b8b;
	display:inline-block;
	cursor:pointer;
	color:#565756;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e6e7e5;
}

.main-sec-formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.div-formacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.logos-edu {
    width: 190px;
}

/*tablet*/

@media (width < 900px) {
    .li-ul-nav-sec-menu {
        display: none;
    }
}